<% include ../partials/header %>

<% if(currentUser) { %>
    <p>
        <a href="<%=parent%>/new">Add a New Painting</a>
    </p>
<% } %>

<%if(paintings[0]) { %>
    <div class="row display-flex">
        <% paintings.forEach(function(painting){ %>
            <div class="col-md-3 col-sm-6 col-xs-12"> 
                <div class="thumbnail" style="background-image:url(<%=painting.img%>)">
                    <a class="thumb-link" href="/paintings/<%=painting.parent%>/<%=paintings.indexOf(painting)%>"></a>
                    <% if (currentUser && paintings.length >= 1) { %>
                       <form action="/paintings/<%=painting.parent%>/<%=paintings.indexOf(painting)%>/delete?_method=PUT" method="POST">
                           <button class="btn btn-danger btn-xs">Delete</button>
                       </form>
                    <% } %>
                </div>
            </div>
        <% }); %>
    </div>
<% } else { %>
    <h1>There are no images in this gallery.</h1>
<% } %>

<% include ../partials/footer %>