<% include ../partials/header %>

<% if(currentUser) { %>
    <p>
        <a href="<%=parent%>/new">Add a New Painting</a>
    </p>
<% } %>

<%if(paintings[0]) { %>
    <div class="row display-flex">
        <% paintings.forEach(function(painting){ %>
            <div class="col-md-3 col-sm-6"> 
                <div class="thumbnail">
                    <div>
                        <a href="/paintings/<%=painting.parent%>/<%=paintings.indexOf(painting)%>">
                            <img class="thumb-img img-responsive" src="<%=painting.img%>"></img>
                        </a>
                    </div>
                    <% if (currentUser && paintings.length >= 1) { %>
                       <a class="btn btn-warning btn-xs" href="/paintings/<%=painting.parent%>/<%=paintings.indexOf(painting)%>/edit">Edit</a>
                       <form action="/paintings/<%=painting.parent%>/<%=paintings.indexOf(painting)%>/delete?_method=PUT" method="POST">
                           <button class="btn btn-danger btn-xs">Delete</button>
                       </form>
                    <% } %>
                </div>
            </div>
        <% }); %>
    </div>
<% } else { %>
    <h1>There are no images in this Gallery.</h1>
<% } %>

<% include ../partials/footer %>