<!--div which contains the page's contact-->
<div class="row display-flex rightCol-row">
    <!--photo for decoration-->
    <div class="col-sm-6 infodiv">
        <div class="container-fluid">
            <img src="<%= info.img %>" class="img-responsive info-img"></img>
            <!--if the user is logged in, show them the edit button. If you click the button, a form opens up.-->
            <% if(currentUser){ %>
                <button onclick="show('<%=infocode%>img')" id="<%=infocode%>imgbtn">Edit</button>
                <form action="img/<%=page%>/?_method=PUT" enctype="multipart/form-data" method="POST" id="<%=infocode%>img" class="info-edit-form">
                        <div class="form-group">
                        <input type="file" id="<%=infocode%>imgarea" name="image"></textarea>
                        <!--this button saves the text to the p and hides the form-->
                        <button onclick="show('<%=infocode%>img')">Save</button>
                    </div>
                </form>
            <% } %>
        </div>
        <div class="container-fluid">
            <p class="info-desc"><%= info.desc %></p>
            <!--if the user is logged in, show them the edit button. If you click the button, a form opens up.-->
            <% if(currentUser){ %>
                <button onclick="show('<%=infocode%>desc')" id="<%=infocode%>descbtn">Edit</button>
                <form action="desc/<%=page%>/?_method=PUT" method="POST" id="<%=infocode%>desc" class="info-edit-form">
                        <div class="form-group">
                        <input type="text" id="<%=infocode%>descarea" name="info[desc]"></textarea>
                        <!--this button saves the text to the p and hides the form-->
                        <button onclick="show('<%=infocode%>desc')">Save</button>
                    </div>
                </form>
            <% } %>
        </div>
    </div>
    <!--text describing the page-->
    <div class="col-sm-6 infodiv">